@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Log out complete</h1>
    <a asp-page="/Login">Back to Login</a>
</div>
